
<% @stores.each do |store| %>
  <h2><%= link_to image_tag(store.image.url(:medium), class: "img-responsive"), store_path(store) %></h2>
  <br>
  <h2> <%= store.caption %> </h2>
  <h2> <%= store.user.company_name %> </h2>
    <%= store.caption %>


              <!-- Like start -->
                <div class="comment-like-form row">
                    <div class="like-button col-sm-1">
                      <span class="glyphicon glyphicon-heart-empty"></span>
                    </div>
                </div>
              <!-- Like ends -->


<% end %>
