
<% @stores.each do |store| %> <div class="index_div">
  <h2><%= link_to image_tag(store.image.url(:medium), class: "img-responsive"), store_path(store) %></h2>
  <br>
  <h2> Company Name: <%= store.user.company_name %> </h2>
  <h3> Headline: <%= store.caption %> </h3>
  <p> Zipcode: <%= store.zipcode %> </p>
</div>


<% end %>
