
<%= videojs_rails sources: { mp4: "https://s3.amazonaws.com/popstarvideos/ShopkeepingVideo.mp4"}, controls: false, autoplay: true, preload: 'auto',  width: '980' %>


<div id="polina">
  <h1>Popstar</h1>
  <a href="//demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video">Follow Us On Twitter</a>
  <br>
      <h4>Create and find popup stores in the coolest locations.</h4>
      <h4>Popstar connects you with the coolest popup stores in the coolest locations.</h4>
      <button>Open a Popup</button>
      <button>Find a Popup</button>

</div>
