
<%= videojs_rails sources: { mp4: "https://s3.amazonaws.com/popstarvideos/ShopkeepingVideo.mp4"}, controls: false, autoplay: true, preload: 'auto',  width: '980' %>


<div id="polina">
  <h1>Welcome to Popstar</h1>
  <a href="//demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video">Follow Us On Twitter</a>
      <p>Create popup stores in the coolest locations.</p>
      <p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
      <button>Pause</button>
</div>
